@import "partials/colors";

#contentWrap {
    display: flex;
    flex-direction: column;
    
    width: 100vw;

    .element {
        position: relative;
        width: 100vw;

        padding: 4vh 0;

        background-color: $main-light;
        
        box-shadow: 0px -3px 4px $grey;

        &:first-of-type {
            padding-top: 8vh;
            padding-bottom: 5vh;
        }

        &.screenHeight {
            height: 100vh;
            padding-bottom: 0;
        }

        .bg-image {
            height: 101vh;
            width: Max(100vw, 130vh);

            z-index: 0;

            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            filter: blur(5px);
            overflow-x: hidden;
            background-clip: content-box;
        }

        .flexContent {
            position: relative;
            z-index: 1;
        }

        &.minHeight50 {
            // min-height: 50vh;
            height: max-content;
        }
    }
}

.grid {
    display: grid;

    &.grid-4-1 {
        grid-template-columns: 4fr 1fr;
    }
}

.flex-double {
    display: flex;
    justify-content: center;
    gap: 5vw;

    .flexContent {
        width: 30vw;
        height: 80%;

        img {
            width: 80%;
            overflow: hidden;
        }
    }

    &:first-of-type {
        .flexContent {
            margin-top: 8vh;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flexContent {

    &.text {

        height: fit-content;
        max-width: 30%;
        min-width: 350px;

        &.dark {
            background-color: rgba($black, 0.5);
            color: $main;
            border-radius: 6px;

            padding: 1em;

        }

        &.center {
            text-align: center;
        }

        &.centerVert {
            height: inherit !important;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                height: fit-content
            }
        }

        h2 {
            margin-top: 0;
            font-family: 'Roboto', sans-serif;

            font-size: 2.0em;
        }

        h3 {
            font-family: 'Roboto', sans-serif;

            font-size: 1.7em;
        }

        h4 {
            font-family: 'Roboto', sans-serif;

            font-size: 1.4em;
        }

        p {
            font-size: 1.1em;
            font-family: sans-serif;

            margin: 2px 0px;

            &.bold {
                font-weight: bold;
            }
        }

        ul {
            font-family: sans-serif;
            font-size: 1.1em;
        }

        a {
            text-decoration: none;
            color: $red;
        }

        .textSep2 {
            height: 4px;
        }

        .textSep4 {
            height: 8px;
        }
    }

    &.image {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-width: 400px;

        img {
            width: 100%;
            max-width: 95vw;
            box-shadow: 2px 2px 6px 1px $grey-dark;
            border-radius: 4px;
        }
    }

    &.center {
        display: flex;
        justify-content: center;
    }

    .logoimage {
        height: 6em;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.element:nth-child(even) {
    background-color: $main-dark !important;
}

.evenReverse {
    .element:nth-child(even) {
        flex-direction: row-reverse;
    }
}




// Uniques

#unesMeny {

    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        padding: 1.5em;
        background-color: white;

        border: 7px double $blue-dark;
        border-radius: 15px;

        min-width: 400px;
    }
}

#unesFacebook {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin: auto
}

@media only screen and (max-width: 1200px) and (min-width: 980px) {
    .element {
        justify-content: space-around;

        &.flexCenter {
            justify-content: center !important;
        }
    }
}

@media only screen and (max-width: 1100px) and (min-width: 980px) {
    #unesMenyContainer {
        justify-content: right;
    }
}

@media only screen and (max-width: 980px) {
    // #contentWrap {
    //     padding-bottom: 20vw;
    // }

    .element {
        flex-direction: column;
        align-items: center;
        justify-content: start;

        &.screenHeight {
            padding-bottom: 5vh !important;
        }
    }

    .image {
        align-items: center;
        margin-top: 5px !important;
    }

    .flex-double {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: start !important;
    }

    .element:nth-child(even) {
        flex-direction: column !important;
    }

    .element:first-of-type {
        height: fit-content !important;
        // padding-bottom: 4vw !important;

        .bg-image {
            height: 180vh !important;
            background-size: cover !important;
        }
    }

    .flexContent {
        width: 80vw !important;

        &.text {
            max-width: none;
        }
    }

    #unesMenyContainer {
        margin-top: 0px;

        width: 95vw !important;

        img {
            padding: 0.9em;
            width: 100%;
            min-width: 0;
        }
    }
}