@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rosarivo:ital@0;1&display=swap');
@import "partials/colors";
@import "partials/footer";

// html {
//     // scroll-behavior: smooth;
// }

body {
    background-color: white;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

    -webkit-tap-highlight-color: transparent;
    
    transition: filter 0.2s ease; /* Transition for smooth effect */

    &.blur {
      filter: blur(2px); /* Adjust the blur intensity as needed */
      pointer-events: none; /* Prevent interaction with the blurred content */
    }
}

h1 {
    color: $highlight;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.hidden {
    display: none !important;
}

#pageContainer {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    // padding-bottom: 8vh;
    overflow-x: hidden;
}

#contentWrap {
    // padding-top: 6vh;
    width: 100vw;
    min-height: 101vh;
}

.redirect {
    cursor: pointer;
}

.popupCover {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(white, 0.4);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-height: 95vh;
        max-width: 95vw;
        min-width: Min(90vw, 50vh);
    }
}