@import "partials/colors";

.slideshow {
    position: relative;

    width: calc(30vw + 20px);
    min-height: 45vh;
    
    overflow-x: hidden;
    overflow-y: visible;

    .imageContainer {
        // top: 3vh;
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        
        transform: translateX(calc(-30vw - 10px));

        .slideshowImage {
            z-index: 1;
            width: 30vw;
            height: 40vh;

            border-radius: 4px;
            box-shadow: 2px 2px 4px $black;

            background-size: cover;
            background-repeat: no-repeat;
            background-clip: content-box;

            &.hidden {
                display: none;
            }
        }
    }

    .slideshowButtonContainer {
        display: flex;
        height: 40vh;
        width: 30vw;
        margin-left: 10px;

        justify-content: space-between;
        align-items: center;

        .slideshowButton {
            position: relative;
            z-index: 2;
            width: 2.8em;
            height: 100%;
            display: flex;
            align-items: center;
    
            span {
                font-size: 2.8em;
                color: $main;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    

    .slideshowSelection {
        position: relative;
        width: inherit;
        top: 1vh;
        text-align: center;

        span {
            font-variation-settings: 'wght' 200 !important;
            font-size: 1.3em;
            color: $grey-dark;

            &:hover {
                cursor: pointer;
            }
        }
    }
}