<link rel="stylesheet" href="/style/desktopNav.css">
<script src="/scripts/desktopNav.js"></script>

<div id="hiddenHelper"></div>
<div class="navWrapper">
    <nav id="nav" data-is-mobile="false">
        <div class="flexElement1" id="logoSection">
            <img id="logo" src="/images/Logo/FolketsHusTransparent-Cut-Large.png" alt="Logga" onclick="redirectToUrl('')">
            <div class="absolute" id="logoCutoff"></div>
            <h1 onclick="redirectToUrl('')">FOLKETS HUS<br>Hallstavik</h1>
        </div>
    
        <ul class="flexElement2" id="navSection">
            <li class="navElement dropdownButton" id="navElement1" onmouseover="showDropdownElement('bioRosenDropdown')" onmouseleave="hideDropdownElement('bioRosenDropdown')">
                <p class="firstLayer">Bio Rosen</p>
                <div class="firstLayer dropdownArrow">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </div>
                <ul class="absolute dropdown hidden" id="bioRosenDropdown">
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('bio-rosen/filmer')">Filmer</p>
                    </li>
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('bio-rosen/live-pa-bio')">Live På Bio</p>
                    </li>
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('bio-rosen/bio-kontrast')">Bio Kontrast</p>
                    </li>
                </ul>
            </li>
    
            <li class="navElement" id="navElement2" onclick="redirectToUrl('unes-kok-bar')">
                <p class="firstLayer">Unes Kök & Bar</p>
            </li>
    
            <li class="navElement" id="navElement3" onclick="redirectToUrl('boka-lokal')">
                <p class="firstLayer">Boka Lokal</p>
            </li>
    
            <li class="navElement dropdownButton" id="navElement4" onmouseover="showDropdownElement('omOssDropdown')" onmouseleave="hideDropdownElement('omOssDropdown')">
                <p class="firstLayer">Om Oss</p>
                <div class="firstLayer dropdownArrow">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </div>
                <ul class="absolute dropdown hidden" id="omOssDropdown">
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('om-oss/vi-som-jobbar-har')">Vi Som Jobbar Här</p>
                    </li>
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('om-oss/om-huset')">Om Huset</p>
                    </li>
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('om-oss/folkets-hus-hallstavik-100-ar')">Folkets Hus Hallstavik 100 år</p>
                    </li>
                    <li id="dropdownElement">
                        <p class="secondLayer" onclick="redirectToUrl('om-oss/vara-hyresgaster')">Våra Hyresgäster</p>
                    </li>
                </ul>
            </li>
    
            <li class="navElement" id="navElement5 kontaktButton" onclick="kontaktButton()">
                <p class="firstLayer">Kontakt</p>
            </li>
    
        </ul>

        
        
    </nav>
</div>
