<div class="hidden" id="inspectMovieBackground" onclick="closeInspect()">
    <div class="hidden" id="inspectMovie" tabindex="-1">
        <div id="inspectTrailer">
            <iframe class="youtubeTrailer" src="" frameborder="0" allow="accelerometer; autoplay; modestbranding; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="inspectBody">
            <h1 class="title"></h1>
            <p class="genre"></p>
            <p class="runtime"></p>
            <p class="runDate"></p>
            <div class="poster">
                <img src="" onclick="inspectImage()" alt="Affisch för filmen">
            </div>
            <p class="description"></p>
    
            <div id="inspectFooter">
                <% if (is_mobile) { %>
                <div id="inspectCloseButton" onclick="closeInspect()">
                    <span class="material-symbols-outlined crossIcon">
                        close
                    </span>
                </div>
                <% } %>
                <a class="ticket redirect button" target="_blank" rel="noopener" href="">
                    <span class="material-symbols-outlined ticketIcon">
                        local_activity
                    </span>
                    <p>Boka Biljetter</p>
                </a>
            </div>
        </div>
        
    </div>
</div>
