<footer id="footer">
    <p>Test Text</p>
</footer>

<script>
    document.getElementById('contentWrap').style.paddingBottom = window.getComputedStyle(document.getElementById('footer')).height;
</script>
