<footer id="footer">
    <h2>Kontakta Folkets Hus</h2>
    <div id="footerContainer">
        <div class="footerElement" id="footerSection1">
            <p style="font-style: italic;">Vill du besöka oss på expeditionen gör du det på:</p>
            <p>Centrumtorget, Norra Uppsalavägen 15.<br>Ingång biblioteket, en trappa upp.<br>Expeditionen är öppen vardagar utom Onsdagar, kl 10-14</p>
            <p>Vår Biograf Rosen hittar du på Östra sidan av huset, adress Centrumtorget 4</p>
        </div>
        <div class="footerElement" id="footerSection2">
            <iframe 
                width="450" 
                height="450" 
                style="border:0" 
                loading="lazy" 
                allowfullscreen 
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY_rKU0MIYEYRW8KwJudqHSU&key=AIzaSyCzYW52vk1hm_VkCc6BeXoat-eBF26AnFo&maptype=satellite&zoom=14">
            </iframe>
        </div>
        <div class="footerElement" id="footerSection3">
            <p>Postadress:<br>Folkets Hus Hallstavik<br>Norra Uppsalavägen 15<br>763 40 Hallstavik</p>
            <p>Telefon Expeditionen: 0175-221 40<br>Epost: <a href="mailto:folketshushallstavik@telia.com">folketshushallstavik@telia.com</a></p>
            <div class="seperator"></div>
            <div id="socials">
                <p>Följ oss gärna på Facebook!</p>
            </div>
        </div>
    </div>
   
</footer>

<script>
    document.getElementById('contentWrap').style.paddingBottom = window.getComputedStyle(document.getElementById('footer')).height;
</script>
