<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
<% try { var titleString = title %>
<% } catch { var titleString = "Loading..." } %>
<title>Folkets Hus Hallstavik | <%= titleString %></title>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<link rel="stylesheet" href="/style/main.css">