<script>
    function redirectToUrl(url) {
        location.href = url;
    }

    function showElement(elementID) {

    }

    function hideElement(elementID) {

    }
</script>

<div class="navWrapper">
    <nav id="nav" data-isMobile="<%- is_mobile %>">
        <div class="flexElement1" id="logoSection">
            <img id="logo" src="/images/FolketsHusTransparent-Trebuschet-1024x341.png" alt="Logga" onclick="redirectToUrl('/')">
        </div>
    
        <ul class="flexElement2" id="navSection">
    
            <li class="navElement dropdownButton" id="navElement1" onmouseover="showElement('#bioRosenDropdown')" onmouseleave="hideElement('#bioRosenDropdown')">
                <p onclick="redirectToUrl('filmer')">Bio Rosen</p>
                <p class="dropdownArrow">></p>
                <ul class="absolute dropdown hidden" id="bioRosenDropdown">
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('filmer')">Filmer</p>
                    </li>
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('live-pa-bio')">Live På Bio</p>
                    </li>
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('bio-kontrast')">Bio Kontrast</p>
                    </li>
                </ul>
            </li>
    
            <li class="navElement" id="navElement2">
                <p onclick="redirectToUrl('unes-kok-bar')">Unes Kök & Bar</p>
            </li>
    
            <li class="navElement" id="navElement3">
                <p onclick="redirectToUrl('boka-lokal')">Boka Lokal</p>
            </li>
    
            <li class="navElement dropdownButton" id="navElement4" onmouseover="showElement('#omOssDropdown')" onmouseleave="hideElement('#omOssDropdown')">
                <p onclick="redirectToUrl('vi-som-jobbar-har')">Om Oss</p>
                <p class="dropdownArrow">></p>
                <ul class="absolute dropdown hidden" id="omOssDropdown">
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('vi-som-jobbar-har')">Vi Som Jobbar Här</p>
                    </li>
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('om-huset')">Om Huset</p>
                    </li>
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('folkets-hus-hallstavik-100-ar')">Folkets Hus Hallstavik 100 år</p>
                    </li>
                    <li id="dropdownElement">
                        <p onclick="redirectToUrl('vara-hyresgaster')">Våra Hyresgäster</p>
                    </li>
                </ul>
            </li>
    
            <li class="navElement" id="navElement5">
                <p onclick="redirectToUrl('kontakt')">Kontakt</p>
            </li>
    
        </ul>

        
        
    </nav>
</div>
