<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/filmer.css'>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>

    <div id="pageContainer">
        <main id="contentWrap">

            <!-- [content] -->

        </main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>