<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/OmOss.css'>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>

    <div id="pageContainer">
        <main id="contentWrap" style="min-height: fit-content;">

            <!-- [content] -->
            <div class="element">
                <div class="header">
                    <h1>100 år sedan Hallstavik fick sitt första Folkets Hus!</h1>
                </div>
                <div class="flex-column left" style="gap: max(1vw, 1vh);">
                    <div class="flexContent text" style="max-width: 600px;">
                        <p>Folkets Hus som byggnad fyllde 100 år 2020. Firandet av vårt jubileum omöjlig-gjordes dock av de restriktioner som
                            gällde för folksamlingar pga Corona-pandemin! Under hösten 2022 pekade alla tecken på att det skulle vara möjligt
                            att genomföra firandet runt veckoslutet 18, 19 och 20/11. Planeringen var ” Storfolka” fredag 18/11, där det kom 178
                            personer trots sen annonsering. Jubileums middag lördag 19/11 med inbjudna gäster. Söndag 20/11 ägnades åt barn o
                            ungdom!
                        </p>
                    </div>
                    <div class="flexContent text" style="max-width: 600px;">
                        <h4>Berätta ditt bästa folkets Hus minne!</h4>
                        <p>Vi siktar på att kunna publicera boken om Folkets Husen i Hallstavik hösten 2023. Vi är nu framme vid det”nya”
                            Folkets Hus från 1972. Vi vill gärna höra vad Folkets Hus betyder för dig. Vad du har upplevt här. Kanske har du
                            träffat din livspartner på något av våra evenemang? Kanske var du här och upplevde härlig musik? Eller såg något
                            dråpligt. Träffat intressanta personer. Engagerat dig. Berätta!
                        </p>
                        <p>Mejla till:<br><a href="mailto:peranders.wikstrom@telia.com">peranders.wikstrom@telia.com</a></p>
                    </div>
                </div>
            </div>

        </main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>