<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/index.css'>
    <script src="/scripts/rellax.min.js"></script>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>


    <div id="pageContainer">
        <main id="contentWrap">
            <div class="element" id="landingElement">
                <div id="landingBackground"></div>
                <div id="landingBackgroundText">
                    <div id="landingTextContainer">
                        <h1>Ett Hus<br>För Alla</h1>
                        <h2>I Hjärtat av Hallstavik</h2>
                    </div>
                    <div id="arrowBorder">
                        <span class="material-symbols-outlined" id="arrow">south</span>
                    </div>
                </div>
            </div>
            
            <div id="lowerContent">
                <div class="element">
                    <div class="flex-tripple" id="Information1">
                        <div class="content" id="RoslagensKulturhusInfo">
                            <div class="content-background" style="background-image: url(/images/Index/RoslagensKulturhus.jpg);"></div>
                            <h4 class="topLeftAbsolute" style="font-style: italic;">MÖTESPLATSEN</h4>
                            <div class=header>
                                <h2>Roslagens Kulturhus</h2>
                            </div>
                            <h3>Vi har lokaler för alla tänkbara möten</h3>
                            <p>Hyr lokal för det lilla föreningsmötet för åtta till tio personer eller till den stora föreläsningen för 250
                                personer.<br>Passar även för evenemang, middagsbjudningar och kalas för både stora och små.</p>
                            <p>För att boka - ring 0175-221 40</p>
                            <a href="/boka-lokal">Se våra olika lokaler</a>
                        </div>
                        <div class="content" id="BioRosenInfo">
                            <div class="content-background" style="background-image: url(/images/Index/BioRosen.jpg);"></div>
                            <h2>Bio Rosen</h2>
                            <p>Se på filmer och livesänd opera från Metropolitan</p>
                            <p>Köp biljetter på plats eller digitalt</p>
                            <a href="/bio-rosen/filmer">Se vilka filmer som visas</a>
                        </div>
                        <div class="content" id="UnesKökOchBarInfo">
                            <div class="content-background" style="background-image: url(/images/Index/UnesRestaurangOchBar.jpg);"></div>
                            <div class="header">
                                <h2>Unes Kök & Bar</h2>
                                <h4>Restaurang & Catering</h4>
                            </div>
                            <p>Unes Kök & Bar hälsar er välkomna!</p>
                            <p>Restaurangen är öppen för luncher vardagar 9:30 till 14:00</p>
                            <a href="/unes-kok-bar">Se aktuell veckomeny</a>
                        </div>
                    </div>
                </div>

                <div class="element">
                    
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </div>

    <script src="/scripts/homepage.js"></script>
</body>

</html>