<html>

<head>
    <%- include('./partials/head.ejs') %>
    <!-- <link rel='stylesheet' href='/style/index.css'> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Hello</h1>
</body>

</html>