<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/index.css'>
    <script src="/scripts/rellax.min.js"></script>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>

    <div id="pageContainer">
        <div id="contentWrap">
            <div id="landingBackground">
                <div class="centralise">
                    <h1>Ett Hus För Alla</h1>
                    <h2>&#129123</h2>
                </div>
            </div>
            

        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>