<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/omOss.css'>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>

    <div id="pageContainer">
        <main id="contentWrap">

            <!-- [content] -->
            <div class="element flex-column">
                <div class="header">
                    <h1>Våra Hyresgäster</h1>
                </div>
                <div class="flexContent flex-double center">
                    <img class="image mobileLarger" src="/images/Hyresgäster/01.jpg" alt="Biblioteksingången i Folkets Hus" style="min-width: 300px; width: 40vw; height: fit-content;">
                    <div class="flexContent text" style="max-width: 600px; margin-top: 0;">
                        <h3 style="margin-top: 0;">Bibliotek</h3>
                        <p><span class="bold">Hallstaviks bibliotek</span> ligger i entréplanet i Folkets Hus. Här finns möjlighet att använda dator, gå på språkcafé,
                            läsa dagstidningar och låna böcker. Biblioteket ordnar också många aktiviteter för barn. Författar- och musikkvällar
                            samt andra trevliga evenemang erbjuds också.
                        </p>
                        <div class="textSep4"></div>
                        <p>Hallstaviks bibliotek har också Meröppet, en tjänst som gör att du kan använda biblioteket även utanför deras bemannade öppettider.</p>
                        <div class="textSep4"></div>
                        <p>Biblioteket har också en konsthall  som Häveröbygdens konstförening disponerar.</p>
                        <div class="textSep4"></div>
                        <p><a href="https://kultur.norrtalje.se/web/arena/bibliotek" target="_blank">Besök bibliotekets hemsida</a> för aktuella
                            öppettider och information om evenemang och de tjänster som erbjuds.
                        </p>
                    </div>
                </div>
                <div class="flexSpacer" style="height: 2vh;">
                    <div class="horizontalSpacerDecoration"></div>
                </div>
                <div class="flexContent flex-double center">
                    <img class="image mobileLarger" src="/images/Hyresgäster/02.jpg" alt="Norrtälje Kommuns Kontaktcenter i Hallstavik" style="min-width: 300px; width: 40vw; height: fit-content;">
                    <div class="flexContent text" style="max-width: 600px; margin-top: 0;">
                        <h3 style="margin-top: 0;">Norrtälje Kommun</h3>
                        <p>Norrtälje kommun har ett <span class="bold">medborgarkontor/kontaktcenter</span> här i Folkets Hus. Du hittar det i entréplanet i hörnet mot
                            Uppsalavägen intill busshållplatsen.
                        </p>
                        <div class="textSep4"></div>
                        <p>Här kan du få hjälp med frågor om t ex sophantering, bygglov, göra en felanmälan och mycket annat.</p>
                        <div class="textSep4"></div>
                        <p><a href="https://www.norrtalje.se/info/kommun-och-politik/eforslag-synpunkter-och-dialog/kontaktcenter/"
                                target="_blank">Besök deras hemsida</a> för information om öppettider.
                        </p>
                    </div>
                </div>
            </div>

            <div class="element flex-column">
                <div class="flexContent text left" style="max-width: 800px; width: 90vw;">
                    <h2 style="margin-bottom: 0.2em;">Våra övriga hyresgäster</h2>
                    <p>Vi har många typer av lokaler som går att hyra på längre tid. Till exempel förråd i vår källare och kontorslokaler.
                        Några av dem har verksamhet för allmänheten i sina lokaler där de träffas. Det kan vara allt ifrån föreningar till
                        kommunen.</p>
                    <div class="textSep8"></div>
                    <div class="textSep8"></div>
                    <p><span class=bold>ABF</span><br>Hyr kontor som avses bemannas regelbundet framgent</p>
                    <div class="textSep8"></div>
                    <p><span class=bold>Arbetslivsresurs</span><br>Arbetar på uppdrag av Arbetsförmedlingen med matchning och coachning</p>
                    <div class="textSep8"></div>
                    <p><span class=bold>Norrtälje Kommun</span><br>Förutom kontaktcentret/medborgarkontoret i entréplanet hyr de även
                        kontorslokaler. Där har de arbetsmöten, projektgrupper och där finns även möjlighet för tjänstemän från olika
                        förvaltningar att ha möten med invånare i olika ärenden.<br>Kommunen har även en träffpunkt som riktar sig till
                        äldre. ABF ansvarar för träffpunkten i Hallstaviks Folkets Hus.</p>
                    <div class="textSep8"></div>
                    <p><span class=bold>Häverö PRO</span><br>En stor del av Häverö PROs verksamhet sker i Folkets Hus. Här har de sina
                        månadsmöten, boule, linedance, kör, sittgympa mm. De hyr även kontorslokal.</p>
                </div>
                <img class="image" src="/images/Hyresgäster/03.jpg" alt="Korridor med två röda soffor och flera dörrar till kontor." style="min-width: 300px; width: 40vw; margin: 2vh auto;">
            </div>

        </main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>