<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/style/omOss.css'>
</head>

<body>
    <% if (is_mobile) { %>
        <%- include('./partials/mobileNav.ejs') %>
    <% } else { %>
        <%- include('./partials/desktopNav.ejs') %>
    <% } %>

    <div id="pageContainer">
        <main id="contentWrap">

            <!-- [content] -->
            <div class="element flex-column">
                <div class="header">
                    <h1>Vi som jobbar här</h1>
                </div>
                <div class="flexContent grid grid-4-1 hideMobile">
                    <div class="text">
                        <p>Folkets Hus i Hallstavik är ett stort hus med många pågående verksamheter. Vi som jobbar här får ibland vara lite
                            tusenkonstnärer och rycka in där det behövs. Att jobba för ett Folkets Hus känns fint och vi känner att vi gör ett
                            viktigt jobb för föreningslivet och kulturlivet i samhället.
                        </p>
                    </div>
                    <div class="flex-column text">
                        <p>På vardagar under expeditionstid och när du bokar möteslokal är det någon av oss du möter.</p>
                        <div class="textSep4"></div>
                        <p>Tel expeditionen:</p>
                        <div class="textSep2"></div>
                        <p class="bold">0175-221 40</p>
                    </div>
                </div>
                <div class="flexContent flex-column showMobile">
                    <div class="text">
                        <p>Folkets Hus i Hallstavik är ett stort hus med många pågående verksamheter. Vi som jobbar här får ibland vara lite
                            tusenkonstnärer och rycka in där det behövs. Att jobba för ett Folkets Hus känns fint och vi känner att vi gör ett
                            viktigt jobb för föreningslivet och kulturlivet i samhället.
                        </p>
                    </div>
                    <div class="flexSpacer" style="height: 3vh"></div>
                    <div class="flex-column text">
                        <p>På vardagar under expeditionstid och när du bokar möteslokal är det någon av oss du möter.</p>
                        <div class="textSep4"></div>
                        <p>Tel expeditionen:</p>
                        <div class="textSep2"></div>
                        <p class="bold">0175-221 40</p>
                    </div>
                </div>
                <div class="flexSpacer" style="height: 2vh"></div>
                <div class="flexContent flex-double even">
                    <div class="flex-column slim">
                        <img class="portrait" alt="Porträttbild av Cecilia Hansson Dahl" src="/images/OmOss/Cecilia.jpg">
                        <div class="text center">
                            <h4 class="noMargin">Cecilia Hansson Dahl</h4>
                            <p>Folkets Huschef, Underhåll, Teknik</p>
                        </div>
                    </div>
                    <div class="flex-column slim">
                        <img class="portrait" alt="Porträttbild av Anna Krapproth" src="/images/OmOss/Anna.jpg">
                        <div class="text center">
                            <h4 class="noMargin">Anna Krapproth</h4>
                            <p>Lokalvård, Vaktmästare, Konferensvärd</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element flex-column">
                <div class="flexContent flex-column text" id="centralSection">
                    <h2>Utan ideella krafter går det inte</h2>
                    <p>Vårt Folkets Hus skulle inte klara sig utan alla ideella krafter som lägger mycket tid i husets olika verksamheter.
                        En gång i tiden när ekonomin var god och föreningslivet blomstrade fanns det som mest tolv anställda här i huset! Nu
                        är det lika mycket jobb som ska göras men inte lika mycket ekonomi. Som tur är finns det många som vill jobba
                        ideellt för sitt Folkets Hus. 
                    </p>
                    <div class="textSep4"></div>
                    <h4>Jourvaktmästare</h4>
                    <p>Våra lokaler hyrs ut både dagar, kvällar och helger, året runt. För att inte vår ordinarie personal ska behöva flytta
                        in i Folkets Hus sköter våra elva jourvaktmästare öppning och stängning under kvällar och helger.
                    </p>
                    <div class="textSep4"></div>
                    <h4>Live på bio</h4>
                    <p>Programval och värdskap vid våra opera- och balettföreställningar sköts av en grupp engagerade personer. Det är de
                        som ser till att det blir trevligt med levande ljus i våra kandelabrar, tar hand om publiken, servar med programblad
                        och sköter biljettkontrollen. 
                    </p>
                    <div class="textSep4"></div>
                    <h4>Bio Kontrast</h4>
                    <p>Vår medlemsklubb för filmintresserade. Filmurval, medlemsadministration, publikvärdar, allt sköts av en grupp
                        personer som med stort engagemang får filmintresset att blomstra i Hallstavik.
                    </p>
                    <div class="textSep4"></div>
                    <h4>Kommersiell Film </h4>
                    <p>Vi visar även Kommersiell film. Det har under pandemin varit svårt, dels eftersom filmbolagen vänt sina produktioner mot
                    streamingtjänster som HBO, Disney + mfl för att klara sin ekonomi. Där har Bio Kontrast varit vår räddningsplanka och
                    vid vissa restriktioner i besöksantal har vi kunnat få in 60 personer i vår salong som rymmer 179 personer +
                    rullstolsplatser. Vår nästa utmaning är att vi har brist på biomaskinister. Ungdomarna som varit vår rekryteringsbas har
                    gått vidare i studier o anställningar. I dag har vi två utbildade med certifikat ( en är undertecknad ordförande). Vi
                    har under internutbildning två av våra anställda som vi kommer att certifiera. Så vi gör oss redo för att köra all sorts
                    film.</p>
                    <div class="textSep8"></div>
                </div>
                <div class="flexContent flex-row center even">
                    <img class="image" src="/images/OmOss/01.jpg" alt="Teateruppsättning på Bio Rosens scen." style="width: 25%;">
                    <img class="image" src="/images/OmOss/02.jpg" alt="Kassan utanför Bio Rosen" style="width: 25%;">
                    <img class="image" src="/images/OmOss/03.jpg" alt="Operavisning på Bio Rosen, eftertexter" style="width: 25%;">
                </div>
            </div>

            <div class="element flex-column">
                <div class="flexContent header center">
                    <h2>Folkets Husföreningen Framtidens styrelse</h2>
                </div>
                <div class="flexContent flex-double hideMobile">
                    <div class="flexContent text center increaseBR" style="width: 40%">
                        <p>
                            Per-Anders Wikström - Ordförande
                            <br>
                            Charlotte Palm - Kassör
                            <br>
                            Ann-Kristin Österman - Ledamot
                            <br>
                            Jenny Höök - Ledamot
                            <br>
                            Roger Harvidsson - Ledamot nominerad av Norrtälje Kommun
                            <br>
                            Rolf Westerlund - Suppleant
                        </p>
                    </div>
                    <div class="flexContent text center increaseBR" style="width: 40%">
                        <p>
                            Mats Buhre - Vice Ordförande
                            <br>
                            Hans Åhman - Ledamot
                            <br>
                            Per Nohj - Ledamot
                            <br>
                            Ulrika Enlund - Ledamot
                            <br>
                            Maija Kohtanen - Suppleant
                            <br>
                            Björn Holmqvist - Suppleant nominerad av Norrtälje Kommun
                        </p>
                    </div>
                </div>
                <div class="flexContent flex-column text center increaseBR showMobile">
                    <p>
                        <span class="bold">Per-Anders Wikström</span> - Ordförande
                        <br>
                        <span class="bold">Mats Buhre</span> - Vice Ordförande
                        <br>
                        <span class="bold">Charlotte Palm</span> - Kassör
                        <br>
                        <span class="bold">Hans Åhman</span> - Ledamot
                        <br>
                        <span class="bold">Ann-Kristin</span> Österman - Ledamot
                        <br>
                        <span class="bold">Hans Åhman</span> - Ledamot
                        <br>
                        <span class="bold">Jenny Höök</span> - Ledamot
                        <br>
                        <span class="bold">Per Nohj</span> - Ledamot
                        <br>
                        <span class="bold">Roger Harvidsson</span> - Ledamot nominerad av Norrtälje Kommun
                        <br>
                        <span class="bold">Ulrika Enlund</span> - Ledamot
                        <br>
                        <span class="bold">Rolf Westerlund</span> - Suppleant
                        <br>
                        <span class="bold">Maija Kohtanen</span> - Suppleant
                        <br>
                        <span class="bold">Björn Holmqvist</span> - Suppleant nominerad av Norrtälje Kommun
                    </p>
                </div>
            </div>

        </main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>