<html>

<head>
    <%- include('./partials/head.ejs') %>
    <!-- <link rel='stylesheet' href='/style/[filename].css'> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div id="pageContainer">
        <div id="contentWrap">

            <!-- [content] -->

        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>