$main: #FFF6F2;
$main-light: #FFFCFA;
$soft: #BB8376;
$soft-dark: #582B39;

$black: #181A1B;
$black-contrast: #E8E6E3;

$main-dark: #DDCECE;

// Greys

$grey: #BEA6A0;
$grey-dark: #56423D;

// Reds

$red: #B80D0D;
$red-dark: #860000;
$red-light: #cd2020;

// Blues (Compliment to red)

$blue: #54B9CB;
$blue-dark: #005162;

// Extras

$highlight: $red;

$yellow: #FFCC8B;