footer {
    z-index: 1;
    overflow-y: hidden;
    // position: absolute;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: max-content;
    padding-bottom: 6vh;
    padding-top: 2vh;
    
    background: rgb(24,26,27);
    background: linear-gradient(0deg, rgba(24,26,27,1) 35%, rgba(88,43,57,1) 100%);
    color: $main;
    font-family: 'Roboto', sans-serif;

    // box-shadow: 0px 0px 5px 10px rgba(88,43,57,1);
    border-top: 2px solid $red-dark;
    box-shadow: -1px 2px 14px 4px $black;

    h2 {
        margin-left: 2.5vw;
    }

    #footerContainer {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 80%;

        .footerElement {
            width: 25%;
            color: $main;
            font-family: 'Roboto', sans-serif;
        }
    
        #footerSection1 {
            h2 {
                padding-bottom: 1em;
            }

            p {
                margin-left: 1vw;
            }
        }
    
    
        p {
            line-height: 1.2;
        }

        a {
            font-style: normal;
            text-decoration: none;
            color: $red;
            text-shadow: 1px 1px 3px $soft-dark;
        }
    
        #footerSection2 {  // Central Map section
            align-self: center;
            height: 32vh;
            width: auto;
            border: 4px ridge $black-contrast;
            border-radius: 2px;
            iframe {
                height: 100%;
            }
        }

        #footerSection3 {

            #socials {
                a {
                    display: block;
                    width: 3.5em;
                    height: 3.5em;
                    margin-left: 2em;
                    border-radius: 100%;

                    .image {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        border-radius: inherit;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 975px) {
    footer {
        min-height: 600px;
        height: max-content;
        padding-bottom: 20vh;

        h2 {
            margin: 1em; 
        }

        #footerContainer {
            height: 90%;
            flex-direction: column !important;
            justify-content: start;
            align-items: center;
            gap: 2vh;

            .footerElement {
                width: 80vw;
            }
        }

        #footerSection2 {  // Central map section
            // border: 0 !important;
            width: 85vw !important;
            height: 32vw !important;

            iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    footer {

        #footerSection2 {  // Central map section
            border: 0 !important;
            width: 95vw !important;
            height: 95vw !important;

            iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

html:has([data-is-mobile = "true"]) {
    footer {
        min-height: 600px;
        height: max-content;
        padding-bottom: 20vh;

        h2 {
            text-align: center;
        }

        #footerContainer {
            text-align: center;
            height: 90%;
            flex-direction: column !important;
            justify-content: start;
            align-items: center;
            gap: 2vh;

            .footerElement {
                width: 80vw;
            }
        }

        #footerSection2 {  // Central map section
            border: 0 !important;
            width: 98vw !important;
            height: 98vw !important;

            iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }

        #socials {

            a {
                margin-left: 0 !important;
                width: 100% !important;
                border-radius: 0 !important;
                
                display: flex !important;
                justify-content: center;

                .image {
                    width: 5em !important;
                    height: 5em !important;
                    border-radius: 100% !important;
                }
            }
        }
    }
}